<h1>Problem <%= probNum %></h1>
<div class="row">
	<div class="col-xs-12">
		<% if (venues.length > 0) { %>
			
			<%- partial('standard-grid.ejs') %>

		<% } else { %>
			<p>There are no teams for this problem.</p>
		<% } %>
	</div>
</div>

<% if(Utils.hasRole(session.user, 'scoreRoom')) { %>
	<a href="/team/new?problem=<%= probNum %>" class="btn btn-default btn-s">
		<span class="glyphicon glyphicon-plus"></span> Add New Team
	</a>
<% } %>

<div class="row">
	<div class="col-xs-8">
		<table class="table">
			
			<tr>
				<td class="warning" width="50%">Indicates scores are ready to be picked up.</td>
				<td class="danger">Indicates team was a no show.</td>
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
window.onload=function () {
    $("#p<%= probNum %>Link").addClass('active');
};
</script>