<div class="modal-header">
  <h3 class="modal-title">Confirm</h3>
</div>
<div class="modal-body">
  <h2>Add Problem</h2>
  <form novalidate>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" ng-model="vm.prob.name" placeholder="Name">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="tournament">Tournament</label>
          <select class="form-control" ng-model="vm.prob.tournament" id="tournament" 
                  ng-Options="option as option.name for option in vm.tournaments track by option.id">
            <option value="" disabled>Select Tournament..</option>
            </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <div class="form-group">
          <label for="number">Problem Number</label>
          <select class="form-control" ng-model="vm.prob.number" id="number" 
                  ng-Options="option.value as option.text for option in vm.problems track by option.value">
            <option value="" disabled>Select Problem..</option>
            </select>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="year">Program Year</label>
          <input type="number" class="form-control" id="year" ng-model="vm.prob.year" placeholder="Program Year">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>