<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/cci_logo_blue_m.gif" border="0" alt="Odyssey of the Mind" width="25" height="25"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li id="pLink">
            <a href="/problem/P">Primary</a>
        </li>
        <li id="p1Link">
            <a href="/problem/1">Problem 1</a>
        </li>
        <li id="p2Link">
            <a href="/problem/2">Problem 2</a>
        </li>
        <li id="p3Link">
            <a href="/problem/3">Problem 3</a>
        </li>
        <li id="p4Link">
            <a href="/problem/4">Problem 4</a>
        </li>
        <li id="p5Link">
            <a href="/problem/5">Problem 5</a>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if(session.authenticated && session.user.admin) { %>
        <li id="usersLink"><a href="/user">Users</a></li>
        <% } %>
        <% if(!session.authenticated) { %>
        <li><a class="navbar-link" href="/login">Sign In</a></li>
        <% } %>
        <% if(session.authenticated) { %>
        <li><a class="navbar-link" href="/logout">Logout</a></li>
        <li><a class="navbar-link" href="/user/show/<%= session.user.id %>"><%= session.user.name %></a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>