<div class="header">
  <ul>
    <li><a href="/">Home</a>
    </li>
    <li><a href="/problem/P">Primary</a>
    </li>
    <li><a href="/problem/1">Problem 1</a>
    </li>
    <li><a href="/problem/2">Problem 2</a>
    </li>
    <li><a href="/problem/3">Problem 3</a>
    </li>
    <li><a href="/problem/4">Problem 4</a>
    </li>
    <li><a href="/problem/5">Problem 5</a>
    </li>
    <li><a href="/problem/S">Spontaneous</a>
    </li>
    <% if(session.authenticated && session.user.admin) { %>
    <li><a href="/user">Users</a>
    <% } %>
    <% if(!session.authenticated) { %>
    <li><a href="/login">Login</a>
    <% } %>
    <% if(session.authenticated) { %>
    <li><a href="/logout">Logout</a> <%= session.user.name %>
    <% } %>
    </li>
  </ul>
</div>
