<!DOCTYPE html>
<html lang="en">

<head>
    <title>Texas Odyssey of the Mind</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body>

    <%- partial('header.ejs') %>

  <div class="container">
    <%- body %>
  </div>

        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->

        <!--SCRIPTS-->
        
        <!--SCRIPTS END-->

        <%- blocks.localScripts %>
</body>

</html>
