<!DOCTYPE html>
<html lang="en">

<head>
    <title>Texas Odyssey of the Mind</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- Latest minified Bootstrap and jQuery -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>

    <%- partial('header.ejs') %>

  <div class="container">
    <%- body %>
  </div>

        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/jquery-1.11.2.min.js"></script>
        <script src="/js/knockout-3.3.0.js"></script>
        <!--SCRIPTS END-->
</body>

</html>
