<!DOCTYPE html>
<html lang="en">

<head>
    <title>Texas Odyssey of the Mind</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- Latest minified Bootstrap and jQuery -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->

    <script src="/js/dependencies/jquery-1.11.2.min.js"></script>
</head>

<body>

    <%- partial('header.ejs') %>

  <div class="container">
    <%- body %>
  </div>

        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/jquery-1.11.2.min.js"></script>
        <script src="/js/dependencies/jquery.validate.min.js"></script>
        <script src="/js/dependencies/bootstrap.min.js"></script>
        <script src="/js/moment.min.js"></script>
        <script src="/js/bootstrap-datetimepicker.min.js"></script>
        <!--SCRIPTS END-->
</body>

</html>
