<FORM action="/team/flag/<%= team.id %>" method="post">
<!-- Registration Flag -->
<% if(!team.checkedIn &&  Utils.hasRole(session.user, 'registration')) { %>
	Registration: 
	<INPUT type="submit" name="eventButton" value="checkedIn"> <br>
<% } %>
<!-- venue Flags -->
<% if(Utils.isValidUserForProblem(team, session.user)) { %>
  <% if(!(team.performed && team.scoresReady && team.scoresPickedUpByCoach && team.scoresPickedUpByScoreRoom)) { %>
    Venue: 
  <% } %>
  <% if(!team.performed) { %>
    <INPUT type="submit" name="eventButton" value="performed">
  <% } %>
  <% if(!team.scoresReady) { %>
    <INPUT type="submit" name="eventButton" value="scoresReady">
  <% } %>
  <% if(!team.scoresPickedUpByCoach) { %>
    <INPUT type="submit" name="eventButton" value="scoresPickedUpByCoach">
  <% } %>
  <% if(!team.scoresPickedUpByScoreRoom) { %>
    <INPUT type="submit" name="eventButton" value="scoresPickedUpByScoreRoom"> <br>
  <% } %>
<% } %>

<!-- Score Room Flag -->
<% if(!team.scoresAccepted && Utils.hasRole(session.user, 'scoreRoom')) { %>
	Score Room:
	<a href=""></a><INPUT type="submit" name="eventButton" value="scoresAccepted"><br>
<% } %>

<!-- Spontaneous Flags -->
<% if(Utils.hasRole(session.user, 'spontaneous')) { %>
  <% if(!(team.sponCheckedIn && team.sponCompleted)) { %>
  	Spontaneous: 
  <% } %>
  <% if(!team.sponCheckedIn) { %>
  	<a href=""></a><INPUT type="submit" name="eventButton" value="sponCheckedIn">
  <% } %>
  <% if(!team.sponCompleted) { %>
  	<a href=""></a><INPUT type="submit" name="eventButton" value="sponCompleted">
  <% } %>
<% } %>
</FORM>