<FORM action="/team/flag/<%= team.id %>" method="post">
<!-- Registration Flag -->
<% if(!team.checkedIn &&  Utils.hasRole(session.user, 'registration')) { %>
	<strong>Registration:</strong>
  <p>
	   <button type="submit" class="btn btn-default  btn-xs" name="flag" value="checkedIn">Checked In</button>
  </p>
<% } %>
<!-- venue Flags -->
<% if(Utils.isValidUserForProblem(team, session.user)) { %>
  <% if(!(team.performed && team.scoresReady && team.scoresPickedUpByCoach && team.scoresPickedUpByScoreRoom)) { %>
    <strong>Venue:</strong>
  <% } %>
   <p>
  <% if(!team.performed) { %>
    <button type="submit" class="btn btn-default btn-xs" name="flag" value="performed">Performed</button>
  <% } %>
  <% if(!team.scoresReady) { %>
    <button type="submit" class="btn btn-default  btn-xs" name="flag" value="scoresReady">Scores Ready</button>
  <% } %>
  <% if(!team.scoresPickedUpByCoach) { %>
    <button type="submit" class="btn btn-default  btn-xs" name="flag" value="scoresPickedUpByCoach">Coach Picked Up Scores</button>
  <% } %>
  <% if(!team.scoresPickedUpByScoreRoom) { %>
    <button type="submit" class="btn btn-default  btn-xs" name="flag" value="scoresPickedUpByScoreRoom">Score Room Picked Up Scores</button> <br>
  <% } %>
  </p>
<% } %>

<!-- Score Room Flag -->
<% if(!team.scoresAccepted && Utils.hasRole(session.user, 'scoreRoom')) { %>
	<strong>Score Room:</strong>
  <p>
	 <button type="submit" class="btn btn-default  btn-xs" name="flag" value="scoresAccepted">Scores Accepted</button><br>
  </p>
<% } %>

<!-- Spontaneous Flags -->
<% if(Utils.hasRole(session.user, 'spontaneous')) { %>
  <% if(!(team.sponCheckedIn && team.sponCompleted)) { %>
  	<strong>Spontaneous:</strong>
  <% } %>
  <p>
  <% if(!team.sponCheckedIn) { %>
  	<button type="submit" class="btn btn-default  btn-xs" name="flag" value="sponCheckedIn">Spontaneous Checked In</button>
  <% } %>
  <% if(!team.sponCompleted) { %>
  	<button type="submit" class="btn btn-default  btn-xs" name="flag" value="sponCompleted">Spontaneous Completed</button>
  <% } %>
</p>
<% } %>
</FORM>