<div class='row'>
	<!-- User/Group -->
	<div class='col-md-4'>
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h3 class="panel-title">Users</h3>
		  	</div>
			<div class="list-group" data-bind='foreach: users'>
				<a class="list-group-item" data-bind='text: name, click: $parent.getUserAssignedRoles'></a>
			</div>
		</div>
	</div>
	<!-- Assigned Roles -->
	<div class='col-md-4'>
		<div class="panel panel-success">
			<div class="panel-heading">
		    	<h3 class="panel-title">Assigned Roles</h3>
		  	</div>
			<div class="list-group" data-bind='foreach: assignedRoles'>
				<div class='list-group-item'>	
					<span data-bind='text: $data'></span>			
					<span class="pull-right glyphicon glyphicon-minus text-danger"></span>			
				</div>
			</div>
		</div>
	</div>
	<!-- Available Roles -->	
	<div class='col-md-4'>
		<div class="panel panel-warning">
			<div class="panel-heading">
		    	<h3 class="panel-title">Available Roles</h3>
		  	</div>
			<div class="list-group" data-bind='foreach: availableRoles'>
				<div class='list-group-item'>	
					<span data-bind='text: $data'></span>			
					<span class="pull-right glyphicon glyphicon-plus text-success"></span>			
				</div>
			</div>
		</div>
	</div>
</div>
<a href="/user/new">Add New User</a>

<script type="text/javascript" src='js/knockout-3.3.0.js'></script>
<!-- <script type="text/javascript" src='js/jquery-1.11.2.min.js'></script> -->

<script type="text/javascript">
window.onload=function () {
    $("#userLink").addClass('active');
};
</script>

<script type="text/javascript">
var userViewModel = function() {
	var self = this;

	self.users = ko.observableArray();
	self.roles = ko.observableArray();
	self.assignedRoles = ko.observableArray();
	self.availableRoles = ko.observableArray();

	self.initialize = function(){
		self.getUsers();
		self.getRoles();
	};

	self.getUsers = function() {
		$.ajax({
			url: '/user/getUsers'
		}).success(function(data){
			self.users.push.apply(self.users, data);
		});
	};

	self.getRoles = function() {
		$.ajax({
			url: '/role/getRoles'
		}).success(function(data){

			var mappedData = data.map(function(role) {
				return role.name;
			})
			self.roles.push.apply(self.roles, mappedData);
		});
	};

	self.getUserAssignedRoles = function (user) {
		self.assignedRoles.removeAll();
		self.assignedRoles.push.apply(self.assignedRoles, user.roles.map(function(role) { return role.toLowerCase();}));

		var diff = self.roles().filter(function(role) {
			return self.assignedRoles.indexOf(role.toLowerCase()) === -1;
		});
		
		self.availableRoles.removeAll();
		self.availableRoles.push.apply(self.availableRoles, diff);
	};

	self.initialize();
}

ko.applyBindings(new userViewModel());

</script>