<h1>Users</h1>
<table border=1>
	<thead>
		<tr>
			<th>Name</th>
			<th>Roles</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i = 0; i < users.length; i++) { %>
			<tr>
				<td><a href="/user/show/<%= users[i].id %>"><%= users[i].name %></a></td>
				<td>
					<% for(var j = 0; j < users[i].roles.length; j++) { %>
					<%= users[i].roles[j] %><br>
					<% } %>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>

<a href="/user/new">Add New User</a>