/***********
  COLORS
************/
@white: #FFFFFF;
@green: #9EC03B;
@orange: #F48744;
@blue: #189ECA;
@lightBlue: #038C9E;
@gray: #777574;
@lightGray: #ECECEC;
@black: #1C1C1C;
@darkblue: #106E8D;
@darkGray: #4A4A4A;
@red: #D16565;

.autoFit{
  width:1px;
  text-align: center;
}