<div class="container">
  <div class="row" ng-repeat-start="t in vm.tournaments.data" ng-click="vm.showDetailRow(t._id)" ng-class-even="'alt'">
    <div class="col-xs-3 text-center">{{t.name}}</div>
    <div class="col-md-3 col-xs-4 text-center">{{t.assoc}}</div>
    <div class="col-md-2 col-xs-4 text-center">{{vm.showLevel(t.level)}}</div>
    <div class="col-md-2 hidden-xs text-center">{{t.date | date : shortDate}}</div>
    <div class="col-xs-2">
      <a href="">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-hide="vm.active == t._id"></span>
        <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-show="vm.active == t._id"></span>
      </a>
    </div>
  </div>
  <div class="row" ng-repeat-end ng-show="vm.active == t._id" ng-class-even="'alt'">
    <hr>
    <div class="col-xs-4 text-center">
      <div class="row">
        <div class="col-xs-6 text-right"><label>Tournament Name:</label></div>
        <div class="col-xs-6 text-left">{{t.name}}</div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-right"><label>Association:</label></div>
        <div class="col-xs-6 text-left">{{t.assoc}}</div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-right"><label>Tournament Level:</label></div>
        <div class="col-xs-6 text-left">{{vm.showLevel(t.level)}}</div>
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="row">
        <div class="col-xs-6 text-right"><label>Tournament Date: </label></div>
        <div class="col-xs-6 text-left">{{t.date | date : shortDate}}</div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-right"><label>Program Year: </label></div>
        <div class="col-xs-6 text-left">{{t.year}}</div>
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="row">
        <div class="col-xs-4 text-right"><label>Tournament Location:</label></div>
        <div class="col-xs-8 text-left">{{t.location.name}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 text-right"><label>Tournament Address:</label></div>
        <div class="col-xs-8 text-left">
          {{t.location.address.street}}<br>
          {{t.location.address.city}}, {{t.location.address.state}}<br>
          {{t.location.address.zip}}
        </div>
      </div>
    </div>
  </div>
  
  <hr>
  <uib-accordion>
    <uib-accordion-group ng-repeat="t in vm.tournaments.data"
                         heading="{{'{0} : {1} {2} {3}' | stringFormat:[t.name, t.assoc, vm.showLevel(t.level), t.year]}}"
                         template-url="app/utils/group-template.html">
      <div class="row">
        <div class="col-xs-4 text-center">
          <div class="row">
            <div class="col-xs-6 text-right"><label>Tournament Name:</label></div>
            <div class="col-xs-6 text-left">{{t.name}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right"><label>Association:</label></div>
            <div class="col-xs-6 text-left">{{t.assoc}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right"><label>Tournament Level:</label></div>
            <div class="col-xs-6 text-left">{{vm.showLevel(t.level)}}</div>
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="row">
            <div class="col-xs-6 text-right"><label>Tournament Date: </label></div>
            <div class="col-xs-6 text-left">{{t.date | date : shortDate}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right"><label>Program Year: </label></div>
            <div class="col-xs-6 text-left">{{t.year}}</div>
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="row">
            <div class="col-xs-4 text-right"><label>Tournament Location:</label></div>
            <div class="col-xs-8 text-left">{{t.location.name}}</div>
          </div>
          <div class="row">
            <div class="col-xs-4 text-right"><label>Tournament Address:</label></div>
            <div class="col-xs-8 text-left">
              {{t.location.address.street}}<br>
              {{t.location.address.city}}, {{t.location.address.state}}<br>
              {{t.location.address.zip}}
            </div>
          </div>
        </div>
      </div>
    </uib-accordion-group>
  </uib-accordion>
    
</div>
